<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Update</title>
</head>
<body>
<h2>User Update</h2>
<br>
<div class="form-container">
    <form th:action="@{/admin/saveUpdatedUser}" method="post" th:object="${updatedUser}">
        <input type="hidden" th:field="*{id}"/>

        <label th:for="name">Name</label>
        <div class="form-field">
            <input type="text" th:field="*{name}"/>
        </div>

        <label th:for="surname">Surname</label>
        <div class="form-field">
            <input type="text" th:field="*{surname}"/>
        </div>

        <label th:for="username">Username</label>
        <div class="form-field">
            <input type="text" th:field="*{username}"/>
        </div>

        <label th:for="age">Age</label>
        <div class="form-field">
            <input type="text" th:field="*{age}"/>
        </div>

        <label th:for="password">Password</label>
        <div class="form-field">
            <input type="text" th:field="*{password}"/>
        </div>
        <br>
        <h2>Roles:</h2>
        <select name="selectedRoles" multiple="multiple">
            <option th:each="role : ${roles}" th:value="${role.authority}" th:text="${role.authority}"></option>
        </select>
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit" class="submit-button" value="OK">
        <br><br>
    </form>
</div>

<br><br>
<form action="/logout" method="get">
    <button type="submit">logout</button>
</form>

</body>
</html>
